<?xml version="1.0"?>
<configuration>
  <dllmap os="linux" dll="opencv_core2413" target="libopencv_core.so.2.4.13" />
  <dllmap os="linux" dll="opencv_imgproc2413" target="libopencv_imgproc.so.2.4.13" />
  <dllmap os="linux" dll="opencv_highgui2413" target="libopencv_highgui.so.2.4.13" />
  <dllmap os="linux" dll="opencv_calib3d2413" target="libopencv_calib3d.so.2.4.13" />
  <dllmap os="linux" dll="opencv_features2d2413" target="libopencv_features2d.so.2.4.13" />
  <dllmap os="linux" dll="opencv_objdetect2413" target="libopencv_objdetect.so.2.4.13" />
  <dllmap os="linux" dll="opencv_photo2413" target="libopencv_photo.so.2.4.13" />
  <dllmap os="linux" dll="opencv_video2413" target="libopencv_video.so.2.4.13" />
</configuration>
